/* 阿里巴巴-普惠体-Regular */
@font-face {
  font-family: 'alifont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_zihnndv22es.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_zihnndv22es.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_zihnndv22es.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_zihnndv22es.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_zihnndv22es.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_zihnndv22es.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}
* {
  box-sizing: border-box;
}
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, ul, ol, li, form, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

/* 设置默认字体 */
body, button, input, select, textarea {
  font-family: "alifont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #303133;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
/* ul, ol { list-style: none; } */
li { list-style: disc inside; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* 重置表单元素 */
legend { color: #303133; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */

/* 重置表格元素 */
table { border-collapse: collapse; border-spacing: 0; }
